*{
    font-family: 'Helvetica Neue', sans-serif;
}
html{
    width: 90em;
    height: 90em;
    margin-right: 10px;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    display: flex;
    justify-content:space-between;
    
    
    
  }
  img {
    max-width: 100%;
    max-height: 100%;
}
  .header>div{
    
    
    padding: 40px;
     margin: 10px;
    
  }
  .Logo20min{
    width:270px;
    

    
    
  }
  #ClaireLogo{
    
    width: 400px;
    height: 312px;
    object-fit: cover;
    z-index: 2;

    
  }
#PARIS{
    border: 1em;
    padding: 1%;
    background-color:#034693;
    color: white;
    display: flex;
   justify-content: center;
}

.Min20{
    border: 1em;
    padding: 1%;
    background-color:#034693;
    color: white;
    text-align: center;
    
    
}


main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aside>div{
    display: flex;
    flex-direction: column;
    padding: 40px;
    
    width: 500;
       
      }
#Crillon{
    width: 300px;
    height: 300px;

    object-fit: cover;
}
#Masksinger{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
#couple{
    width: 1100px;
    height: 1470px;
    justify-content: center;
    object-fit: cover;
    z-index: 1;
    
    margin-right: 550px;
    margin-top: 35px;
   
}

 .footer{
    display: flex;
    justify-content: center;
    position: relative;
    width: 87%;
    margin-left: 140px;
    margin-bottom: 20px;
    z-index: 2;
    
    
} 
div>h2{
    color:darkblue;
    font-weight: 400%;
    
}

.Toutadroite>h1{
    color: darkblue;

}

.textcouple {
    position: absolute;
    top: 1350px;
    color: white;
    margin-left:20px;
    z-index:2

    
  }
  

.aside>hr{
    display: flex;
    width:50%;
    align-items: center;
}

.Titre>h1{ 
    font-size: 100px;

    
    

}
.Code{
    width: 225px;
    
    rotate:-90deg;
    position: absolute;
    top: 2066px;
    

}
.Réforme>p{
    font-size: 20px;

}
 .Chameau>p{
    font-size:20px;
    
}
.Jeunes>p{
    font-size: 20px;
}
.Toutadroite{
    width: 600px;
    
}
.Toutadroite>p{
    font-size: 35px;
}
.Date{
    display:flex;
    justify-content: space-between;
    
}
.Date2{
    margin-left: 40px ;
}
footer>hr{
    width: 85%;
    margin-right: 5px;
    align-items: center;
}
