
.TitreDroite{
    display: flex;
    justify-content: flex-end;
}
.Claire{
    display: flex;
    justify-content: flex-end;
}
footer{
    display: flex;
    align-items: flex-end;
    
}
aside{
    display:flex;
    flex-direction: column;
    columns: 2em;
    flex:30%;

}
.Logo20min{
    width: 1%;
}
   


